.cadastrar{
    background: #000000 url('../../public/pexels-qjpioneer-917511.jpg') no-repeat center center;
    background-size: cover;
    font-size: 16px;
    height: 950px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.t-cadastrar {
    color: white !important; 
    font-size: 32px !important;
    font-weight: 600 !important;
    padding: 0 !important;
    margin: 0 260px 0 0 !important;
    text-align: center;
}