.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}



.app{
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}